@import url("./reset.css");

/* ==================== VARIÁVEIS ==================== */
:root {
  --primary-color: #003366;
  --secondary-color: #ffc107;
  --text-dark: #333;
  --text-light: #f4f4f4;
  --background-light: #f9f9f9;
  --background-dark: #2c3e50;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ==================== RESET ==================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================== HEADER ==================== */
header {
  background: #ffffff;
  padding: 20px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

header > .container {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > .container > .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header > .container > .logo > img {
  height: 50px;
}

/* ==================== NAV ==================== */
.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-list a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 700;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--card-shadow);
  transition: transform 0.5s, box-shadow 0.3s;
  padding: 0.7em;
  background-color: #ffffff;
}

.nav-list a:hover,
.nav-list a.active {
  animation: slideDown 0.8s ease forwards;
  background-color: #003366;
  color: #f4d90d;
  transform: translateY(-5px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--text-dark);
  background-color: #fff;
}

/* ==================== FOOTER ==================== */
.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.contato h4,
.contato p {
  margin: 0;
}

.contato p {
  color: #f4d90d;
  text-decoration: underline;
}

footer > .container > h4 {
  margin-bottom: 10px;
}

footer > .container > p {
  margin-bottom: 10px;
}

.footer {
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

/* ==================== RESPONSIVIDADE ==================== */
/* Mobile pequeno (até 480px) */
@media (max-width: 480px) {
  .nav-list {
    display: block;
  }
  .contato {
    gap: 3px;
  }
}

/* Mobile grande (481px – 768px) */
@media (max-width: 768px) {
  .nav-list {
    gap: 2px;
  }
}

/* Tablet (769px – 1024px) */
@media (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
  .nav-list {
    gap: 30px;
  }
}